
.row{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.nav-link{
    cursor: pointer;
}

.recent-news-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }